{% extends 'base/base.html'%}

{% block content %}

<div class="row align-items-center justify-content-between">
<h2>Ingredient: {{ingredient.name}}</h2>      <a href="{% url 'apicbase:ingredient-update' ingredient.id%}">Update Ingredient</a>
</div>
<br>
<p>Description: {{ingredient.desc}}</p>
<p>Cost: €{{ingredient.cost}}</p>
<p>Unit Size: {{ ingredient.get_unit_size}}</p>

<br><br>
<ul class="list-group">
    {% if recipes %}
        
        <h3> Recipes containing {{ingredient.name}}</h3>
        {% for recipe in recipes %}
            <li class="list-group-item"><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a> - {{recipe.desc}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="list-group-item">
            There are no recipes that use this ingredient. <a href="{% url 'apicbase:recipe-new' %}">Add one!</a>
        </div>
    {% endif %}

</ul>

{% endblock %}