<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredient-dialogue">
  Add New Ingredient
</button>

<div id="ingredient-dialogue" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Ingredient</h5>
                <button type="button" class="close" data-toggle="modal" data-target="#ingredient-dialogue" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "./ingredient_create_form.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>