apicbase/__pycache__/
.vscode/launch.json
db.sqlite3
**/*.pyc
apicbase/__pycache__/__init__.cpython-36.pyc
apicbase_test/__pycache__/urls.cpython-36.pyc
apicbase/__pycache__/__init__.cpython-36.pyc
apicbase/__pycache__/admin.cpython-36.pyc
apicbase/__pycache__/ingredient_views.cpython-36.pyc
apicbase/__pycache__/models.cpython-36.pyc
apicbase/__pycache__/recipe_views.cpython-36.pyc
apicbase/__pycache__/urls.cpython-36.pyc
apicbase/migrations/0001_initial.py
apicbase/migrations/__pycache__/__init__.cpython-36.pyc
apicbase/migrations/__pycache__/0001_initial.cpython-36.pyc
apicbase/templates/ingredients/detail.html
apicbase/templates/recipes/index.html
apicbase/templates/recipes/recipe_create_form.html
apicbase_test/__pycache__/settings.cpython-36.pyc
db.sqlite3
