{% load static %}
<html>
    <head>
        <title>Epic Based Recipe Management</title>


        {% comment %} bootstrap {% endcomment %}

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        {% comment %} jquery {% endcomment %}
        <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
		

        {% comment %} utilities.js {% endcomment %}
        <script
            src="{% static 'base/utilities.js' iven a jQuery object that represents a set of DOM elements, the .find() method allows us to search through the %}">
        </script>

    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4"> Epic Based Recipe Management </h1>
            </div>
            <nav class=" navbar-light bg-light navbar-expand-sm">
                <div id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'apicbase:recipe-index'%}">Recipes </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'apicbase:ingredient-index'%}">Ingredients</a>
                        </li>
                        <li class="nav-item">
                            <form id="search-form" action="{% url 'apicbase:search-results'%}" class="form-inline" method="get">
                                {% comment %} {% csrf_token %} {% endcomment %}
                                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search recipes and ingredients">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

        
            {% block content%}
            {% endblock %}
    </div>

    </body>
</html>