{% extends 'base/base.html'%}

{% block content %}

<div class="row align-items-center justify-content-between">
<h2>Recipe: {{recipe.name}}</h2>      <a href="{% url 'apicbase:recipe-update' recipe.id%}">Update Recipe</a>
</div>
<br>
<p>Description: {{recipe.desc}}</p>
<p>Cost: €{{cost}} </p>
<table id="ingredients-list" class="table">
<thead>
<tr><th>Ingredient</th><th>Quantity</th><th>Cost</th></tr>
</thead>
       
{% for ingredient, cost in data.items  %}
<tr>
    <td> <a href="{{ ingredient.get_absolute_url }}" >{{ingredient.name}}</td>
    <td> {{ingredient.get_measure}} </td>
    <td> €{{ ingredient.get_cost }} </td> 
</tr>
{% endfor %}
</table>

{% endblock %}